@import url("https://fonts.googleapis.com/css2?family=Alegreya+Sans:wght@300;400;700;800&display=swap");
html {
  font-size: 18px;
}
@media screen and (max-width: 768px) {
  html {
    font-size: 17px;
  }
}
@media screen and (max-width: 480px) {
  html {
    font-size: 2vmax;
  }
}

a, ul, li, p, h1, h2, h3, h4, h5, address {
  text-decoration: none;
  font-style: normal;
  margin: 0;
  padding: 0;
  list-style: none;
  font-size: inherit;
  font-weight: inherit;
  color: inherit;
}

img {
  max-width: 100%;
}

button {
  border: none;
  background: none;
  padding: 0;
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html {
  height: 100%;
}

body {
  font-family: "Alegreya Sans", sans-serif;
  line-height: 1.4;
  height: 100%;
}

.wrapper {
  width: 100%;
  height: 100%;
  overflow: hidden;
  position: relative;
}

.main-content {
  height: 100%;
  -webkit-transition: -webkit-transform 1s;
  transition: -webkit-transform 1s;
  transition: transform 1s;
  transition: transform 1s, -webkit-transform 1s;
  will-change: transition;
}

.container {
  width: 95%;
  max-width: 940px;
  margin: 0 auto;
}

.section {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.section__title {
  font-weight: 700;
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  text-align: center;
}
@media screen and (max-width: 768px) {
  .section__title {
    font-size: 2.8333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title {
    font-size: 2.5rem;
  }
}
.section__title--reviews {
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .section__title--reviews {
    margin-bottom: 1.3888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .section__title--reviews {
    margin-bottom: 1.8333333333rem;
  }
}

/*! normalize.css v8.0.1 | MIT License | github.com/necolas/normalize.css */
/* Document
   ========================================================================== */
/**
 * 1. Correct the line height in all browsers.
 * 2. Prevent adjustments of font size after orientation changes in iOS.
 */
html {
  line-height: 1.15;
  /* 1 */
  -webkit-text-size-adjust: 100%;
  /* 2 */
}

/* Sections
   ========================================================================== */
/**
 * Remove the margin in all browsers.
 */
body {
  margin: 0;
}

/**
 * Render the `main` element consistently in IE.
 */
main {
  display: block;
}

/**
 * Correct the font size and margin on `h1` elements within `section` and
 * `article` contexts in Chrome, Firefox, and Safari.
 */
h1 {
  font-size: 2em;
  margin: 0.67em 0;
}

/* Grouping content
   ========================================================================== */
/**
 * 1. Add the correct box sizing in Firefox.
 * 2. Show the overflow in Edge and IE.
 */
hr {
  -webkit-box-sizing: content-box;
          box-sizing: content-box;
  /* 1 */
  height: 0;
  /* 1 */
  overflow: visible;
  /* 2 */
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
pre {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/* Text-level semantics
   ========================================================================== */
/**
 * Remove the gray background on active links in IE 10.
 */
a {
  background-color: transparent;
}

/**
 * 1. Remove the bottom border in Chrome 57-
 * 2. Add the correct text decoration in Chrome, Edge, IE, Opera, and Safari.
 */
abbr[title] {
  border-bottom: none;
  /* 1 */
  text-decoration: underline;
  /* 2 */
  -webkit-text-decoration: underline dotted;
          text-decoration: underline dotted;
  /* 2 */
}

/**
 * Add the correct font weight in Chrome, Edge, and Safari.
 */
b,
strong {
  font-weight: bolder;
}

/**
 * 1. Correct the inheritance and scaling of font size in all browsers.
 * 2. Correct the odd `em` font sizing in all browsers.
 */
code,
kbd,
samp {
  font-family: monospace, monospace;
  /* 1 */
  font-size: 1em;
  /* 2 */
}

/**
 * Add the correct font size in all browsers.
 */
small {
  font-size: 80%;
}

/**
 * Prevent `sub` and `sup` elements from affecting the line height in
 * all browsers.
 */
sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline;
}

sub {
  bottom: -0.25em;
}

sup {
  top: -0.5em;
}

/* Embedded content
   ========================================================================== */
/**
 * Remove the border on images inside links in IE 10.
 */
img {
  border-style: none;
}

/* Forms
   ========================================================================== */
/**
 * 1. Change the font styles in all browsers.
 * 2. Remove the margin in Firefox and Safari.
 */
button,
input,
optgroup,
select,
textarea {
  font-family: inherit;
  /* 1 */
  font-size: 100%;
  /* 1 */
  line-height: 1.15;
  /* 1 */
  margin: 0;
  /* 2 */
}

/**
 * Show the overflow in IE.
 * 1. Show the overflow in Edge.
 */
button,
input {
  /* 1 */
  overflow: visible;
}

/**
 * Remove the inheritance of text transform in Edge, Firefox, and IE.
 * 1. Remove the inheritance of text transform in Firefox.
 */
button,
select {
  /* 1 */
  text-transform: none;
}

/**
 * Correct the inability to style clickable types in iOS and Safari.
 */
button,
[type=button],
[type=reset],
[type=submit] {
  -webkit-appearance: button;
}

/**
 * Remove the inner border and padding in Firefox.
 */
button::-moz-focus-inner,
[type=button]::-moz-focus-inner,
[type=reset]::-moz-focus-inner,
[type=submit]::-moz-focus-inner {
  border-style: none;
  padding: 0;
}

/**
 * Restore the focus styles unset by the previous rule.
 */
button:-moz-focusring,
[type=button]:-moz-focusring,
[type=reset]:-moz-focusring,
[type=submit]:-moz-focusring {
  outline: 0.0555555556rem dotted ButtonText;
}

/**
 * Correct the padding in Firefox.
 */
fieldset {
  padding: 0.35em 0.75em 0.625em;
}

/**
 * 1. Correct the text wrapping in Edge and IE.
 * 2. Correct the color inheritance from `fieldset` elements in IE.
 * 3. Remove the padding so developers are not caught out when they zero out
 *    `fieldset` elements in all browsers.
 */
legend {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  color: inherit;
  /* 2 */
  display: table;
  /* 1 */
  max-width: 100%;
  /* 1 */
  padding: 0;
  /* 3 */
  white-space: normal;
  /* 1 */
}

/**
 * Add the correct vertical alignment in Chrome, Firefox, and Opera.
 */
progress {
  vertical-align: baseline;
}

/**
 * Remove the default vertical scrollbar in IE 10+.
 */
textarea {
  overflow: auto;
}

/**
 * 1. Add the correct box sizing in IE 10.
 * 2. Remove the padding in IE 10.
 */
[type=checkbox],
[type=radio] {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  /* 1 */
  padding: 0;
  /* 2 */
}

/**
 * Correct the cursor style of increment and decrement buttons in Chrome.
 */
[type=number]::-webkit-inner-spin-button,
[type=number]::-webkit-outer-spin-button {
  height: auto;
}

/**
 * 1. Correct the odd appearance in Chrome and Safari.
 * 2. Correct the outline style in Safari.
 */
[type=search] {
  -webkit-appearance: textfield;
  /* 1 */
  outline-offset: -0.1111111111rem;
  /* 2 */
}

/**
 * Remove the inner padding in Chrome and Safari on macOS.
 */
[type=search]::-webkit-search-decoration {
  -webkit-appearance: none;
}

/**
 * 1. Correct the inability to style clickable types in iOS and Safari.
 * 2. Change font properties to `inherit` in Safari.
 */
::-webkit-file-upload-button {
  -webkit-appearance: button;
  /* 1 */
  font: inherit;
  /* 2 */
}

/* Interactive
   ========================================================================== */
/*
 * Add the correct display in Edge, IE 10+, and Firefox.
 */
details {
  display: block;
}

/*
 * Add the correct display in all browsers.
 */
summary {
  display: list-item;
}

/* Misc
   ========================================================================== */
/**
 * Add the correct display in IE 10+.
 */
template {
  display: none;
}

/**
 * Add the correct display in IE 10.
 */
[hidden] {
  display: none;
}

.hero-section {
  background: url(../img/newHeroBack.png) center center no-repeat;
  background-size: cover;
  color: #fff;
  padding: 1.3333333333rem 0 3.6111111111rem;
}
@media screen and (max-width: 768px) {
  .hero-section {
    padding: 0;
    background-size: auto 106%;
    background-position: 76% 49%;
  }
}
@media screen and (max-width: 480px) {
  .hero-section {
    background-size: auto 91%;
    background-position: 70% 102%;
  }
}

.hero-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .hero-container {
    width: 100%;
  }
}

.header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 768px) {
  .header {
    height: 9.5%;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    padding: 0 1.6666666667rem;
    background: #1968B1;
  }
}
@media screen and (max-width: 480px) {
  .header {
    height: 11.5%;
    padding: 0 0.1666666667rem;
  }
}
.header__contacts {
  padding-top: 0.2777777778rem;
  margin-left: 2.6111111111rem;
  font-weight: 700;
  font-size: 1.2222222222rem;
}
@media screen and (max-width: 768px) {
  .header .header__contacts {
    display: none;
  }
}

.logo {
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.logo__img {
  width: 56px;
  height: 40px;
}

.contacts {
  white-space: nowrap;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.contacts__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.contacts__location {
  margin-bottom: 0.4444444444rem;
}
.contacts__icon {
  width: 0.7222222222rem;
  height: 0.8333333333rem;
  margin-right: 0.3888888889rem;
}
.contacts__icon--header {
  fill: #fff;
}

.hamburger-icon {
  width: 27px;
  height: 23px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  display: none;
}
.hamburger-icon--close {
  width: 20px;
  height: 20px;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-transform: translate(-39px, 60px);
          transform: translate(-39px, 60px);
}
.hamburger-icon--close .hamburger-icon__plank {
  height: 28px;
  width: 4px;
}
.hamburger-icon__plank {
  width: 26px;
  height: 4px;
  background: #fff;
  border-radius: 4px;
  margin-bottom: 5px;
}
.hamburger-icon__plank:last-child {
  margin-bottom: 0;
}
.hamburger-icon__plank--left {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
.hamburger-icon__plank--right {
  -webkit-transform: rotate(-45deg);
          transform: rotate(-45deg);
  margin-left: -3px;
}
@media screen and (max-width: 768px) {
  .hamburger-icon {
    display: -webkit-inline-box;
    display: -ms-inline-flexbox;
    display: inline-flex;
  }
}

.hamburger {
  height: 100vh;
  position: fixed;
  top: 0;
  left: 0;
  bottom: 0;
  right: 0;
  background: #333537;
  color: #fff;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  display: none;
}
.hamburger__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: reverse;
      -ms-flex-direction: row-reverse;
          flex-direction: row-reverse;
}

.site-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.site-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
  -webkit-column-gap: 1.2222222222rem;
     -moz-column-gap: 1.2222222222rem;
          column-gap: 1.2222222222rem;
  padding-left: 2.6111111111rem;
  padding-top: 0.4444444444rem;
}
.site-menu__items--vertical {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-wrap: nowrap;
      flex-wrap: nowrap;
  -webkit-column-gap: 0;
     -moz-column-gap: 0;
          column-gap: 0;
  padding-left: 0;
  padding-top: 7.5rem;
}
.site-menu__item {
  margin-bottom: 0.5555555556rem;
}
.site-menu__item--vertical {
  margin-bottom: 2.7777777778rem;
}
.site-menu__link {
  font-size: 1rem;
  font-weight: 700;
  white-space: nowrap;
}
.site-menu__link--vertical {
  font-weight: 400;
  font-size: 2rem;
}
@media screen and (max-width: 768px) {
  .site-menu {
    display: none;
  }
  .site-menu--vertical {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-flex: 1;
        -ms-flex: auto;
            flex: auto;
  }
}

.hero-offer {
  padding-top: 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .hero-offer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}
.hero-offer__title {
  font-size: 2.6666666667rem;
  font-weight: 700;
  width: 52.5%;
  text-transform: uppercase;
  line-height: 1.22;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .hero-offer__title {
    width: 85.5%;
    text-align: center;
  }
}
@media screen and (max-width: 480px) {
  .hero-offer__title {
    width: 100%;
    line-height: 0.9;
    font-size: 2.5rem;
    margin: 0 0 0.2777777778rem 0;
  }
}
.hero-offer__description {
  font-size: 1.1666666667rem;
  font-weight: 300;
  margin-bottom: 2.1111111111rem;
}
@media screen and (max-width: 480px) {
  .hero-offer__description {
    margin-bottom: 2.7777777778rem;
  }
}

.button {
  display: -webkit-inline-box;
  display: -ms-inline-flexbox;
  display: inline-flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding: 0 2.2777777778rem;
  height: 3.3333333333rem;
  background-color: #FEDB3F;
  border-radius: 1.6666666667rem;
  color: #000;
  font-weight: 800;
  font-size: 0.8888888889rem;
  text-transform: uppercase;
  border: none;
  cursor: pointer;
}
@media screen and (max-width: 768px) {
  .button {
    font-size: 0.9444444444rem;
  }
}
@media screen and (max-width: 480px) {
  .button {
    font-size: 1.2222222222rem;
  }
}
.button:hover {
  background-color: #FFD517;
}
.button--transparent {
  background: transparent;
  color: #fff;
  text-transform: none;
  font-weight: 400;
  font-size: 1rem;
}
.button--transparent:hover {
  background: inherit;
  color: #FEDB3F;
}

.benefit {
  font-weight: 700;
  font-size: 0.8888888889rem;
  max-width: 7.8888888889rem;
  vertical-align: middle;
}
.benefit__icon-wrapper {
  width: 2.2777777778rem;
  height: 2.2777777778rem;
  margin-right: 0.6111111111rem;
  background-size: contain;
}
.benefit__icon {
  width: 2.2777777778rem;
  height: 2.2777777778rem;
}
.benefit__text {
  line-height: 1.2;
}

.hero-benefits__list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .hero-benefits__list {
    display: none;
  }
}

.hero-benefits__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 1.6666666667rem;
}
.hero-benefits__item:last-child {
  margin-right: 0;
}

.about-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
@media screen and (max-width: 480px) {
  .about-section__container {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    width: 98%;
  }
}

.about-text {
  text-align: center;
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .about-text {
    margin-bottom: 3.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .about-text {
    margin-bottom: 3.5555555556rem;
  }
}
.about-text__title {
  font-weight: 700;
  font-size: 2.6666666667rem;
  text-transform: uppercase;
  margin-bottom: 0.5555555556rem;
}
@media screen and (max-width: 768px) {
  .about-text__title {
    font-size: 2.8333333333rem;
  }
}
.about-text__subtitle {
  max-width: 436px;
  margin: auto;
  color: #666;
}
@media screen and (max-width: 768px) {
  .about-text__subtitle {
    font-size: 1.0555555556rem;
  }
}

.about-advantages {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
@media screen and (max-width: 480px) {
  .about-advantages {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
@media screen and (max-width: 480px) {
  .about-advantages__item {
    margin-bottom: 2.1111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .about-advantages__item:last-child {
    margin-bottom: 0;
  }
}

.advantage {
  position: relative;
  text-align: center;
  padding: 0 4%;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
@media screen and (max-width: 480px) {
  .advantage {
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    padding: 0;
  }
}
.advantage__img-wrapper {
  width: 7.1111111111rem;
  height: 7.1111111111rem;
  background: #F2F5F4;
  border-radius: 50%;
  position: relative;
  margin: 0 auto 1.1111111111rem;
}
@media screen and (max-width: 480px) {
  .advantage__img-wrapper {
    -ms-flex-negative: 0;
        flex-shrink: 0;
  }
}
.advantage__img-wrapper:before {
  content: url(../img/dots.png);
  position: absolute;
  left: 10.8333333333rem;
  top: 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .advantage__img-wrapper:before {
    display: none;
  }
}
.advantage__img-wrapper:nth-child(2)::before {
  display: none;
}
.advantage:last-child .advantage__img-wrapper:before {
  display: none;
}
.advantage__img {
  width: 68px;
  height: 68px;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
}
@media screen and (max-width: 480px) {
  .advantage__text-box {
    text-align: left;
    padding: 0 5%;
  }
}
.advantage__title {
  font-weight: 700;
  font-size: 1.5rem;
  text-align: center;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .advantage__title {
    margin-bottom: 0.2777777778rem;
  }
}
@media screen and (max-width: 480px) {
  .advantage__title {
    text-align: left;
    font-size: 1.6666666667rem;
  }
}
.advantage__title p {
  line-height: 1.2;
}
.advantage__text {
  font-weight: 300;
  color: #666;
}
.advantage:first-child {
  padding-left: 0;
}
.advantage:last-child {
  padding-right: 0;
}

.reviews-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}
.reviews-section__title {
  margin-bottom: 1.6666666667rem;
}
@media screen and (max-width: 480px) {
  .reviews-section__title {
    margin-bottom: 0.9444444444rem;
  }
}

.reviews-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}
@media screen and (max-width: 480px) {
  .reviews-container {
    width: 99%;
  }
}

.reviews-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 0.8333333333rem;
  background-color: #F8FAF9;
  min-height: 19.3333333333rem;
}

.review {
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  background-color: #F8FAF9;
  background-size: cover;
  padding: 2.3333333333rem;
  position: absolute;
}
.review--active {
  opacity: 1;
  position: static;
  -webkit-transition: opacity 0.5s;
  transition: opacity 0.5s;
}
@media screen and (max-width: 768px) {
  .review {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 3.2222222222rem 1.0555555556rem 2.2222222222rem;
    margin-bottom: 1.6666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .review {
    margin-bottom: 0.8333333333rem;
  }
}
.review__img-wrapper {
  width: 14.0555555556rem;
  height: 14.6666666667rem;
  margin-right: 2.2222222222rem;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
@media screen and (max-width: 768px) {
  .review__img-wrapper {
    margin-right: 0;
    width: 7.2222222222rem;
    height: 7.2222222222rem;
    margin-bottom: 2.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .review__img-wrapper {
    width: 8rem;
    height: 7rem;
  }
}
.review__img {
  display: block;
}
.review__title {
  font-weight: 700;
  font-size: 1.5rem;
  margin-bottom: 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .review__text-block {
    text-align: center;
  }
}
.review__text {
  margin-bottom: 1.4444444444rem;
  max-width: 80%;
  color: #666666;
}
@media screen and (max-width: 768px) {
  .review__text {
    max-width: none;
  }
}
.review__text p {
  line-height: 1.4;
}
.review__username {
  font-weight: 500;
}

.reviews-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
}
.reviews-menu__item {
  margin-right: 0.3333333333rem;
}
.reviews-menu__item:last-child {
  margin-right: 0rem;
}
.reviews-menu__item-link {
  display: block;
}
@media screen and (max-width: 480px) {
  .reviews-menu__item-link {
    width: 64px;
    height: 64px;
  }
}
.reviews-menu__item--active {
  margin-right: 0.3333333333rem;
  position: relative;
}
.reviews-menu__item--active:last-child {
  margin-right: 0rem;
}
.reviews-menu__item--active:after {
  content: "";
  display: block;
  width: 65px;
  height: 64px;
  border-radius: 50%;
  border: 0.3333333333rem solid #FEDB3F;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -54%);
          transform: translate(-50%, -54%);
}
@media screen and (max-width: 480px) {
  .reviews-menu__item--active:after {
    width: 57px;
    height: 56px;
    -webkit-transform: translate(-50%, -50%);
            transform: translate(-50%, -50%);
  }
}

.radio {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  cursor: pointer;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  margin-right: 1.1111111111rem;
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .radio {
    margin-right: 1.6666666667rem;
    margin-bottom: 1.3333333333rem;
  }
}
.radio__visible {
  width: 1.3888888889rem;
  height: 1.3888888889rem;
  background-color: #fff;
  border-radius: 50%;
  position: relative;
  margin-right: 0.5555555556rem;
}
.radio__visible:before {
  content: "";
  position: absolute;
  display: none;
  width: 0.7222222222rem;
  height: 0.7222222222rem;
  border-radius: 50%;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  background: yellow;
}
@media screen and (max-width: 768px) {
  .radio--checkbox {
    padding-right: 2.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .radio--checkbox {
    padding-right: 0;
    padding-left: 1.9444444444rem;
  }
}
.radio--checkbox .radio__visible {
  border-radius: 0.3333333333rem 0.3333333333rem;
}
.radio--checkbox .radio__visible:before {
  display: none;
  background: url(../img/checkmark.png) center center no-repeat;
}

.radio__elem {
  display: none;
}
.radio__elem:checked ~ .radio__visible:before {
  display: block;
}

.form-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
  background: url(../img/form-brd.png) center center no-repeat;
  background-size: cover;
  color: #fff;
}
.form-section__container {
  width: 97.5%;
}

.form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  font-weight: 300;
}
@media screen and (max-width: 768px) {
  .form {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 0 7.3333333333rem;
  }
}
@media screen and (max-width: 480px) {
  .form {
    padding: 0;
    font-size: 1.1111111111rem;
  }
}
.form__col {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  margin-right: 1.4444444444rem;
}
@media screen and (max-width: 768px) {
  .form__col {
    margin-right: 0;
  }
}
.form__col:last-child {
  margin-right: 0;
}
.form__row {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 0.5rem;
}
.form__row:last-child {
  margin-bottom: 0;
}
@media screen and (max-width: 768px) {
  .form__row {
    margin-bottom: 0;
  }
}
.form__row--textarea {
  margin-bottom: 2.0555555556rem;
}
@media screen and (max-width: 768px) {
  .form__row--textarea {
    margin-bottom: 1.0555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .form__row--textarea {
    margin-bottom: 1.2777777778rem;
  }
}
.form__row--controls {
  margin-bottom: 1rem;
}
.form__block {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
  margin-right: 0.8333333333rem;
}
.form__block:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .form__block {
    margin-right: 1.1rem;
  }
}
@media screen and (max-width: 480px) {
  .form__block {
    margin-right: 0.8333333333rem;
  }
}
.form__input {
  width: 100%;
  padding: 1rem 0.6666666667rem;
  border-radius: 0.2222222222rem;
  border: 0.1666666667rem solid transparent;
}
@media screen and (max-width: 768px) {
  .form__input {
    height: 50%;
    padding: 0.8rem 0.666666667rem;
  }
}
.form__input:focus {
  outline: none;
  border-color: #FEDB3F;
}
.form__input--textarea {
  height: 8.3333333333rem;
  resize: none;
}
@media screen and (max-width: 768px) {
  .form__input--textarea {
    height: 4.6111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .form__input--textarea {
    height: 4.7777777778rem;
  }
}

.form__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-wrap: wrap;
      flex-wrap: wrap;
}
@media screen and (max-width: 480px) {
  .form__controls {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
  }
}

.form__controls:nth-child(3) {
  margin-bottom: 2.2222222222rem;
}

.form__buttons {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .form__buttons {
    padding-left: 6.1666666667rem;
  }
}
@media screen and (max-width: 480px) {
  .form__buttons {
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    padding-left: 2.6666666667rem;
  }
}

.form__button {
  margin-right: 1.5555555556rem;
}
@media screen and (max-width: 480px) {
  .form__button {
    font-size: 1.0555555556rem;
    margin-right: 0;
  }
}

.map-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

.footer {
  background-color: #fff;
  padding: 0.7222222222rem 0;
}
@media screen and (max-width: 768px) {
  .footer {
    padding: 3% 0;
  }
}
.footer__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
@media screen and (max-width: 480px) {
  .footer__container {
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
  }
}
.footer__contacts {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: start;
      -ms-flex-align: start;
          align-items: flex-start;
  font-size: 1.1666666667rem;
}
@media screen and (max-width: 768px) {
  .footer__contacts {
    font-size: 1.2222222222rem;
  }
}
@media screen and (max-width: 480px) {
  .footer__contacts {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 1.3333333333rem;
    margin-bottom: 0.8333333333rem;
  }
}
.footer__socials {
  padding-top: 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .footer__socials {
    padding: 0.3333333333rem 0.6111111111rem 0 0;
  }
}

.socials {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.socials__link {
  margin-right: 0.7777777778rem;
}
.socials__link:last-child {
  margin-right: 0;
}
.socials__icon {
  width: 1.1111111111rem;
  height: 1.1111111111rem;
  fill: #B3B3B3;
}
.socials__icon:hover {
  fill: black;
}

.products-section {
  background: #F8FAF9;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: space-evenly;
      -ms-flex-pack: space-evenly;
          justify-content: space-evenly;
}

.products__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
}
.products__container .bx-wrapper {
  border: none;
  -webkit-box-shadow: none;
          box-shadow: none;
  background: transparent;
}

.products-pic-wrap {
  -ms-flex-negative: 0;
      flex-shrink: 0;
  margin-right: 3.0555555556rem;
}
@media screen and (max-width: 768px) {
  .products-pic-wrap {
    margin-right: 0;
    max-width: 46%;
  }
}
@media screen and (max-width: 480px) {
  .products-pic-wrap {
    max-width: 60%;
    margin-bottom: 2.1666666667rem;
  }
}

.param-button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 5.0555555556rem;
  height: 5.0555555556rem;
  background: #3A587E;
  border-radius: 0.2222222222rem;
  margin-bottom: 2.7777777778rem;
}
@media screen and (max-width: 768px) {
  .param-button {
    display: none;
  }
}
.param-button__img {
  width: 2.1111111111rem;
  height: 2.1111111111rem;
  fill: #fff;
}
.param-button__title {
  color: #fff;
  font-size: 0.7777777778rem;
  font-weight: 700;
  text-transform: uppercase;
}
.param-button:hover {
  background: #3465A3;
}
.param-button:hover + .product-info__param-block {
  display: block;
}

.product-about {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  max-width: 80%;
}
@media screen and (max-width: 768px) {
  .product-about {
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    max-width: none;
  }
}
.product-about__title {
  font-size: 2rem;
  font-weight: 700;
  text-transform: uppercase;
  margin-bottom: 0.8888888889rem;
}
@media screen and (max-width: 768px) {
  .product-about__title {
    font-size: 1.7777777778rem;
    margin-bottom: 0.7222222222rem;
  }
}
.product-about__text {
  color: #666;
  line-height: 1.28;
  margin-bottom: 1rem;
}
@media screen and (max-width: 768px) {
  .product-about__text {
    width: 71%;
    text-align: center;
    margin-bottom: 1.3888888889rem;
  }
}
@media screen and (max-width: 480px) {
  .product-about__text {
    width: 87%;
    font-size: 1.0833333333rem;
    line-height: 1.29;
  }
}
.product-about__specs-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-bottom: 1.3333333333rem;
}
@media screen and (max-width: 768px) {
  .product-about__specs-list {
    padding-left: 1.8333333333rem;
    margin-bottom: 1.7222222222rem;
  }
}
.product-about__order-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.product-about__price {
  font-weight: 300;
  font-size: 3.3333333333rem;
  line-height: 3.3333333333rem;
}
@media screen and (max-width: 768px) {
  .product-about__price {
    margin-right: 1.9444444444rem;
    font-size: 3.4444444444rem;
  }
}
.product-about__spec {
  margin-right: 3.0555555556rem;
}
.product-about__spec:last-child {
  margin-right: 0;
}
@media screen and (max-width: 768px) {
  .product-about__spec {
    margin-right: 3.3333333333rem;
  }
}

.product-info {
  position: relative;
  padding-bottom: 2.5rem;
}
@media screen and (max-width: 768px) {
  .product-info {
    padding-bottom: 0;
  }
}
.product-info__param-block {
  position: absolute;
  top: 0;
  left: 90.5px;
  padding: 26px;
  background: rgba(255, 255, 255, 0.8);
  border-radius: 4px;
  display: none;
}
.product-info__param-block:hover {
  display: block;
}

.param {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.param__img {
  width: 32px;
  height: 32px;
  margin-right: 0.6666666667rem;
}
.param__title {
  font-size: 0.8888888889rem;
  font-weight: 500;
  margin-right: 10px;
}
.param__value {
  margin-left: auto;
  font-size: 16px;
}

.param-list__item {
  margin-bottom: 30px;
}
.param-list__item:last-child {
  margin-bottom: 0;
}

.spec__title {
  color: #666;
}
.spec__info {
  font-weight: 700;
}

.slider-arrow {
  width: 24px;
  height: 40px;
  fill: transparent;
  stroke: black;
}

.slider-wrap {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
@media screen and (max-width: 768px) {
  .slider-wrap {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
}

.arrow {
  position: absolute;
  top: 44%;
}
@media screen and (max-width: 768px) {
  .arrow {
    top: 30%;
  }
}
@media screen and (max-width: 480px) {
  .arrow {
    top: 25%;
  }
}
.arrow--left {
  left: -9%;
}
@media screen and (max-width: 768px) {
  .arrow--left {
    left: 18%;
  }
}
@media screen and (max-width: 480px) {
  .arrow--left {
    left: -2%;
  }
}
.arrow--right {
  left: 93%;
}
@media screen and (max-width: 768px) {
  .arrow--right {
    left: 79%;
  }
}
@media screen and (max-width: 480px) {
  .arrow--right {
    right: 0;
    left: initial;
  }
}

.team-section {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}
.team-section__title {
  margin-bottom: 2.6111111111rem;
}
@media screen and (max-width: 480px) {
  .team-section__title {
    margin-bottom: 1.6666666667rem;
    font-size: 2.5555555556rem;
  }
}

.team-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-column-gap: 0.9444444444rem;
     -moz-column-gap: 0.9444444444rem;
          column-gap: 0.9444444444rem;
}
@media screen and (max-width: 768px) {
  .team-list {
    display: none;
  }
}
.team-list--mobile {
  display: none;
}
@media screen and (max-width: 768px) {
  .team-list--mobile {
    display: block;
  }
}

.team-member {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.team-member__img-wrap {
  margin-bottom: 1.1111111111rem;
}
@media screen and (max-width: 768px) {
  .team-member__img-wrap {
    margin-bottom: 0.5555555556rem;
  }
}
.team-member__name {
  display: block;
  cursor: pointer;
  font-weight: 700;
  font-size: 1.1666666667rem;
  margin: 0 auto 0.5555555556rem;
}
.team-member__name:after {
  content: url(../img/team-arrow.png);
}
@media screen and (max-width: 768px) {
  .team-member__name {
    margin-bottom: 1.0555555556rem;
  }
}
@media screen and (max-width: 480px) {
  .team-member__name {
    font-size: 1.3333333333rem;
    margin-bottom: 0.6111111111rem;
  }
}
@media screen and (max-width: 480px) {
  .team-member__pic {
    width: 31%;
  }
}
.team-member__text-wrap {
  overflow: hidden;
  height: 0;
  -webkit-transition: height 0.3s;
  transition: height 0.3s;
}
.team-member__text {
  text-align: center;
}
.team-member__status {
  margin-bottom: 0.3888888889rem;
}
@media screen and (max-width: 768px) {
  .team-member__status {
    margin-bottom: 0;
  }
}
@media screen and (max-width: 480px) {
  .team-member__status {
    font-size: 1.2222222222rem;
  }
}
.team-member__about {
  font-weight: 300;
  color: #666;
}
@media screen and (max-width: 768px) {
  .team-member__about {
    margin: 0 auto;
    width: 32%;
  }
}
@media screen and (max-width: 480px) {
  .team-member__about {
    width: 54%;
    font-size: 1.1666666667rem;
  }
}

.menu-section {
  background: url(../img/menu-section-brd.png) center center no-repeat;
  background-size: cover;
  position: relative;
}
.menu-section__title {
  color: #fff;
  position: absolute;
  top: 16%;
  left: 7%;
}

.main-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: absolute;
  top: 0;
  right: 0;
  bottom: 0;
}
.main-menu__item {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.main-menu__title {
  display: block;
  position: relative;
  -ms-flex-negative: 0;
      flex-shrink: 0;
}
.main-menu__img {
  height: 100vh;
}
.main-menu__text {
  padding: 31px 80px 31px 38px;
}
.main-menu__product-title {
  width: 466px;
  height: 58px;
  font-weight: 700;
  font-size: 2.6666666667rem;
  color: #fff;
  position: absolute;
  top: 54%;
  left: -174%;
  -webkit-transform: rotate(-90deg);
          transform: rotate(-90deg);
}
.main-menu__content {
  background: rgba(51, 53, 55, 0.9);
  color: #fff;
  width: 0;
  -webkit-transition: width 0.4s;
  transition: width 0.4s;
}
.main-menu__content-container {
  overflow: hidden;
}
.main-menu__content-container--active {
  width: 524px;
}

.player-section {
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  background: #F8FAF9;
}
.player-section__container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.player-section__title {
  margin-bottom: 2.5555555556rem;
}

.player {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  width: 36.7777777778rem;
  height: 21.7777777778rem;
  position: relative;
}
.player__video-block {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
.player__window {
  width: 100%;
  height: 21.7777777778rem;
  -o-object-fit: cover;
     object-fit: cover;
}
.player__button {
  position: absolute;
  top: 35%;
  left: 46%;
  cursor: pointer;
}
.player__button--active {
  opacity: 0;
}
.player__play-img {
  fill: #fff;
  width: 4.1666666667rem;
  height: 6.1111111111rem;
}
.player__controls {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  width: 100%;
  height: 1.9444444444rem;
  background: #404040;
  -ms-flex-negative: 0;
      flex-shrink: 0;
  padding-left: 1.1111111111rem;
  padding-right: 1.2777777778rem;
  fill: white;
}

.sound {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  position: relative;
}
.sound__btn {
  cursor: pointer;
}
.sound__btn:before {
  content: "";
  width: 29px;
  height: 3px;
  background-color: red;
  position: absolute;
  display: block;
  left: -4px;
  top: 50%;
  -webkit-transform: translateY(-50%) rotate(42deg);
          transform: translateY(-50%) rotate(42deg);
  z-index: 2;
  opacity: 0;
  -webkit-transition: opacity 0.3s;
  transition: opacity 0.3s;
}
.sound__btn.active:before {
  opacity: 1;
}
.sound__img {
  width: 13px;
  height: 16px;
  margin-right: 1.3888888889rem;
  vertical-align: middle;
}
.sound__volume {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.sound__volume-line {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background: #626262;
}
.sound__volume-line::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  outline: 0;
  background: #FEDB3F;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.duration {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  margin-right: 2.3333333333rem;
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.duration__play-btn {
  vertical-align: middle;
}
.duration__play-img {
  width: 11px;
  height: 16px;
  margin-right: 1.6666666667rem;
}
.duration__length-wrap {
  width: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}
.duration__length {
  width: 100%;
  height: 4px;
  -webkit-appearance: none;
     -moz-appearance: none;
          appearance: none;
  outline: 0;
  background: -webkit-gradient(linear, left top, right top, from(#FEDB3F), color-stop(0%, #626262));
  background: linear-gradient(90deg, #FEDB3F 0%, #626262 0%);
}
.duration__length::-webkit-slider-thumb {
  -webkit-appearance: none;
          appearance: none;
  outline: 0;
  background: #FEDB3F;
  width: 15px;
  height: 15px;
  border-radius: 50%;
}

.fixed-menu {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: fixed;
  top: 38%;
  left: 96%;
}
@media screen and (max-width: 768px) {
  .fixed-menu {
    display: none;
  }
}
.fixed-menu--shadow a {
  background-color: black;
}
.fixed-menu--shadow a::before {
  border-color: black;
}
.fixed-menu__item {
  margin-bottom: 0.7222222222rem;
}
.fixed-menu__item:last-child {
  margin-bottom: 0;
}
.fixed-menu__link {
  display: block;
  width: 9px;
  height: 9px;
  border-radius: 50%;
  background-color: #fff;
  position: relative;
}
.fixed-menu__link--active::before {
  content: "";
  width: 19px;
  height: 19px;
  background: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  position: absolute;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-52%, -48%);
          transform: translate(-52%, -48%);
}

.modal {
  display: none;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.input-error {
  border: 2px solid #ff4a03;
}

.error-modal {
  color: red;
}

.product-pic {
  display: block;
  text-align: center;
}

#map {
  width: 100%;
  height: 100%;
}
/*# sourceMappingURL=main.css.map */