.about-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__container {
        @include phones {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            width: 98%;
        }
    }
}