.contacts {
    white-space: nowrap;
    display: flex;
    // align-items: center;

    &__row {
        display: flex;;
        align-items: center;
    }

    &__location {
        margin-bottom: rem(8px);
    }

    &__icon {
        width: rem(13px);
        height: rem(15px);
        margin-right: rem(7px);

        &--header {
            fill: #fff;
        }
    }
}