.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url(../src/img/form-brd.png) center center no-repeat;
    background-size: cover;
    color: #fff;

    &__container {
        width: 97.5%;
    }
}