.hero-section {
    background: url(../src/img/newHeroBack.png) center center no-repeat;
    background-size: cover;
    color: #fff;
    padding: rem(24px) 0 rem(65px);

    @include tablets {
        padding: 0; 
        background-size: auto 106%;
        // background-position: -608px -57px;
        background-position: 76% 49%;
    }

    @include phones {
        background-size: auto 91%;
        // background-position: -431px 74px;
        background-position: 70% 102%;
    }
}
