.map-section {
    // background: url(../img/map.png) center center no-repeat;
    // background-size: cover;
    display: flex;
    flex-direction: column;
}

#map {
    width: 100%;
    height: 100%;
}