.player-section {
    flex-direction: column;
    justify-content: center;
    background: #F8FAF9;

    &__container {
        display: flex;
        flex-direction: column;
        align-items: center;
    }

    &__title {
        margin-bottom: rem(46px);
    }
}