.reviews-section {
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    &__title {
        margin-bottom: rem(30px);

        @include phones {
            margin-bottom: rem(17px);
        }
    }
}