.reviews-menu {
    display: flex;
    justify-content: center;
    align-items: flex-start;

    &__item {
        margin-right: rem(6px);

        &:last-child {
            margin-right: rem(0px);
        }
    }

    &__item-link {
        display: block;

        @include phones {
            width: 64px;
            height: 64px;
        }
    }

    &__item--active {
       margin-right: rem(6px);
       position: relative;

       &:last-child {
           margin-right: rem(0px);
       }

       &:after {
        content: "";
        display: block;
        width: 65px;
        height: 64px;
        border-radius: 50%;
        border: rem(6px) solid #FEDB3F;
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -54%);
       }

       @include phones {
           &:after {
               width: 57px;
               height: 56px;

               transform: translate(-50%, -50%)
           }
       }
    }
}