.socials {
    display: flex;

    &__link {
        margin-right: rem(14px);

        &:last-child {
            margin-right: 0;
        }
    }

    &__icon {
        width: rem(20px);
        height: rem(20px);
        fill: #B3B3B3;

        &:hover {
            fill: black;
        }
    }
}