.team-section {
    display: flex;
    flex-direction: column;
    justify-content: center;

    &__title {
        margin-bottom: rem(47px);

        @include phones {
            margin-bottom: rem(30px);
            font-size: rem(46px);
        }
    }
}