.about-text {
    text-align: center;
    margin-bottom: rem(50px);

    @include tablets {
        margin-bottom: rem(58px);
    }

    @include phones {
        margin-bottom: rem(64px);
    }

    &__title {
        font-weight: 700;
        font-size: rem(48px);
        text-transform: uppercase;
        margin-bottom: rem(10px);

        @include tablets {
            font-size: rem(51px);
        }
    }

    &__subtitle {
        // max-width: rem(440px);
        max-width: 436px;
        margin: auto;
        color: #666;

        @include tablets {
            font-size: rem(19px);
        }
    }
}