.about-section {
    // padding-top: rem(102px);
    display: flex;
    flex-direction: column;
    justify-content: space-evenly;

    .container {
        @include phones {
            display: flex;
            flex-direction: column;
            justify-content: space-around;
            height: 90%;
        }
    }
}