.about-advantages {
    display: flex;
    justify-content: space-between;

    @include phones {
        flex-direction: column;
    }

    &__item {
        @include phones {
            margin-bottom: rem(38px);
        }

        &:last-child {
            @include phones {
                margin-bottom: 0;
            }
        }
    }
}