.advantage {
    position: relative;
    text-align: center;
    padding: 0 3%;
    flex: 1;


    &__img-wrapper {
        width: 128px;
        height: 128px;
        background: #F2F5F4;
        border-radius: 50%;
        position: relative;
        margin: 0 auto 20px;

        &:before {
            content: url(../img/dots.png);
            position: absolute;
            left: 195px;
            top: 60px;
            }
        &:nth-child(2) {
            &::before {
                display: none;
            }
        }
    }

    &:last-child {
        .advantage__img-wrapper:before {
            display: none;
        }
    }

    &__img {
        position: absolute;
        top: 50%;
        left: 50%;
        transform: translate(-50%, -50%);
    }

    &__title {
        font-weight: 700;
        font-size: 27px;
        text-align: center;
        margin-bottom: 20px;

        p {
            line-height: 1.2;
        }
    }

    &__text {
        font-weight: 300;
        color: #666;
    }

    &:first-child {
        padding-left: 0;
    }

    &:last-child {
        padding-right: 0;
    }
}