.arrow {
    position: absolute;
    top: 44%;

    @include tablets {
        top: 30%;
    }

    @include phones {
        top: 25%;
    }


    &--left {
        left: -9%;

        @include tablets {
            left: 18%;
        }

        @include phones {
            left: -2%;
        }
    }

    &--right {
        left: 93%;

        @include tablets {
            left: 79%;
        }

        @include phones {
            right: 0;
            left: initial;
        }
    }


}