.benefit {
    font-weight: 700;
    font-size: rem(16px);
    max-width: rem(142px);
    vertical-align: middle;

    &__icon-wrapper {
        width: rem(41px);
        height: rem(41px);
        margin-right: rem(11px);
       background-size: contain; 
    }

    // &__icon {
    //    width: rem(41px);
    //    height: rem(41px);
    //    margin-right: rem(11px);
    //    background-size: contain; 
    // }

    &__text {
        line-height: 1.2;
    }
}