.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: 156px;
    height: 60px;
    background-color: #FEDB3F;
    border-radius: 30px;
    color: #000;
    font-weight: 800;
    font-size: 16px;
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    &:hover {
        background-color: #FFD517;
    }

    &--transparent {
        width: 105px;
        background: transparent;
        color: #fff;
        text-transform: none;
        font-weight: 400;
        font-size: 18px;

        &:hover {
            background: inherit;
            color: #FEDB3F;
        }
    }
}

