.button {
    display: inline-flex;
    justify-content: center;
    align-items: center;
    padding: 0 rem(41px);
    height: rem(60px);
    background-color: #FEDB3F;
    border-radius: rem(30px);
    color: #000;
    font-weight: 800;
    font-size: rem(16px);
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    @include tablets {
        font-size: rem(17px);
    }

    @include phones {
        font-size: rem(22px);
    }

    &:hover {
        background-color: #FFD517;
    }

    &--transparent {
        background: transparent;
        color: #fff;
        text-transform: none;
        font-weight: 400;
        font-size: rem(18px);

        &:hover {
            background: inherit;
            color: #FEDB3F;
        }
    }
}

