.button {
    display: flex;
    justify-content: center;
    align-items: center;
    width: rem(156px);
    height: rem(60px);
    background-color: #FEDB3F;
    border-radius: rem(30px);
    color: #000;
    font-weight: 800;
    font-size: rem(16px);
    text-transform: uppercase;
    border: none;
    cursor: pointer;

    @include phones {
        width: rem(156px);
        height: rem(60px);
    }

    &:hover {
        background-color: #FFD517;
    }

    &--transparent {
        width: rem(105px);
        background: transparent;
        color: #fff;
        text-transform: none;
        font-weight: 400;
        font-size: rem(18px);

        &:hover {
            background: inherit;
            color: #FEDB3F;
        }
    }
}

