.form {
    display: flex;
    font-weight: 300;

    @include tablets {
        flex-direction: column;
        padding: 0 18.5%;
    }

    &__col {
        display: flex;  
        flex: 1;
        flex-direction: column;
        margin-right: rem(26px);

        @include tablets {
            margin-right: 0;
        }

        &:last-child {
            margin-right: 0;
        }
    }

    &__row {
        display: flex;
        margin-bottom: rem(9px);

        &:last-child {
            margin-bottom: 0;
        }

        @include tablets {
            margin-bottom: 0;
        }
    }

    &__row--textarea {
        margin-bottom: rem(37px);

        @include tablets {
            margin-bottom: 1.0555555556rem;
        }
    }

    &__row--controls {
        margin-bottom: rem(18px);
    }

    &__block {
        flex: 1;
        margin-right: rem(15px);

        &:last-child {
            margin-right: 0;
        }

        @include tablets {
            margin-right: 1.1rem;
        }
    }

    &__input {
        width: 100%;
        padding: rem(18px) rem(12px);
        border-radius: rem(4px);
        border: rem(3px) solid transparent;

        @include tablets {
            height: 50%;
            padding: 0.8rem 0.666666667rem;;
        }

        &:focus {
            outline: none;
            border-color: #FEDB3F;
        }

        &--textarea {
            height: rem(150px);
            resize: none;

            @include tablets {
                height: rem(100px);
            }
        }
    }
}

.form__controls {
    display: flex;
    flex-wrap: wrap;
}

.form__controls:nth-child(3){
    margin-bottom: rem(40px);
}

.form__buttons {
    display: flex;

    @include tablets {
        justify-content: center;
    }
}