.form-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    background: url(../img/form-background.png) center center no-repeat;
    background-size: cover;
    color: #fff;
}