.header {
    display: flex;
    justify-content: space-between;

    @include tablets {
        height: 9.5%;
        align-items: center;
        padding: 0 rem(30px);
        background: #1968B1;
    }

    @include phones {
        height: 11.5%;
        padding: 0 rem(3px);
    }

    &__contacts {
        padding-top: rem(5px);
        margin-left: rem(47px);
        font-weight: 700;
        font-size: rem(22px);
    }
        

    .header__contacts {
        @include tablets {
            display: none;
        }
    }
    
    
}