.header {
    padding-top: 20px;
    display: flex;
    justify-content: space-between;
    margin-bottom: 102px;

    .logo {
        margin-right: 46px;
    }
    
    .contacts {
        margin-left: 47px;
    }
}