.hero-offer {
    &__title {
        font-size: 48px;
        font-weight: 700;
        width: 52.5%;
        text-transform: uppercase;
        line-height: 1.22;
        margin-bottom: 20px;
    }
    &__description {
        font-size: 21px;
        font-weight: 300;
        margin-bottom: 38px;
    }
}
