.hero-offer {
    &__title {
        font-size: 48px;
        font-weight: 700;
        width: 30%;
        text-transform: uppercase;
        line-height: 1.16;
        margin-bottom: 20px;
    }
    &__description {
        font-size: 21px;
        font-weight: 300;
        margin-bottom: 38px;
    }
    &__button {
    margin-bottom: 64px;    
    }
}
