.hero-benefits__list {
    display: flex;

    @include tablets {
        display: none;
    }
}
.hero-benefits__item {
    display: flex;
    margin-right: rem(30px);

    &:last-child {
        margin-right: 0;
    }
}