.main-menu {
    display: flex;
    position: absolute;
    top: 0;
    right: 0;
    bottom: 0;

    @include phones {
        width: 56.5%;
    }

    &__item {
        display: flex;

        &--active {
            @include phones {
            position: absolute;
            top: 0;
            right: 0;
            bottom: 0;
            height: 100%;
            z-index: 100;  
            }
        
        }

    }

    &__title {
        display: block;
        position: relative;
        flex-shrink: 0;
    }

    &__img {
        height: 100vh;
    }

    &__text {
        padding: 31px 80px 31px 38px;

        @include phones {
            padding-right: 144px;
            line-height: 1.5;
        }
    }

    &__product-title {
        width: 466px;
        height: 58px;
        font-weight: 700;
        font-size: rem(48px);
        color: #fff;
        position: absolute;
        top: 96%;
        left: 50%;
        transform-origin: 0 0;
        transform: rotate(-90deg) translateY(-50%);
    }
    

    &__content {
        background: rgba(51, 53, 55, 0.9);
        color: #fff;
        width: 0;
        // padding: 40px;
        transition: width .4s;

    }

    &__content-container {
        // width: 0;
        overflow: hidden;

        &--active {
            width: 524px;
        }
    }
}