.player {
    display: flex;
    flex-direction: column;
    justify-content: center;
    width: rem(662px);
    height: rem(392px);
    position: relative;

    &__video-block {
        display: flex;
    }

    &__window {
        width: 100%;
        height: rem(392px);
        object-fit: cover;
    }

    &__button {
        position: absolute;
        top: 35%;
        left: 46%;
        cursor: pointer;

        &--active {
            opacity: 0;
        }
    }

    &__play-img {
        fill: #fff;
        // transform: translate(50%, 50%);
        width: rem(75px);
        height: rem(110px);
    }

    &__controls {
        display: flex;
        align-items: center;
        width: 100%;
        height: rem(35px);
        background: #404040;
        flex-shrink: 0;
        padding-left: rem(20px);
        padding-right: rem(23px);
        fill: white;
    }

}