.products-pic-wrap {
    flex-shrink: 0;
    margin-right: rem(55px);

    @include tablets {
        margin-right: 0;
        max-width: 46%;
    }

    @include phones {
        max-width: 60%;
        margin-bottom: rem(39px);
    }
}