.radio {
    display: flex;
    cursor: pointer;
    user-select: none;
    margin-right: 20px;
    margin-bottom: 18px;

    &__visible {
        width: 25px;
        height: 25px;
        background-color: #fff;
        border-radius: 50%;
        position: relative;
        margin-right: 10px;

        &:before {
            content: "";
            position: absolute;
            display: none;
            width: 13px;
            height: 13px;
            border-radius: 50%;
            top: 50%;
            left: 50%;
            transform: translate(-50%, -50%);
            background: yellow;
        }
    }

    &--checkbox {
        .radio__visible {
            border-radius: 6px / 6px;

            &:before {
                display: block;
                background: url(../../img/checkmark.png) center center no-repeat;
            }

        }
    }

}

.radio__elem {
    display: none;

    &:checked~.radio__visible {
        &:before {
            display: block;
        }
    }
}