.review {
    display: flex;
    align-items: center;
    background-color: #F8FAF9;
    background-size: cover;
    padding: 42px;

    &__img-wrapper {
        width: 253px;
        height: 264px;
        margin-right: 44px;
        flex-shrink: 0;
    }

    &__img {
        display: block;
        object-fit: scale-down;
    }

    &__title {
        font-weight: 700;
        font-size: 27px;
        margin-bottom: 17px;
    }


    &__text {
        margin-bottom: 26px;
        line-height: 1.4;
        max-width: 80%;
        color: #666666;

        p {
            line-height: 1.2;
        }
    }

    &__username {
        font-weight: 500;
    }

}