.review {
    display: flex;
    width: 940px;
    min-height: 348px;
    background-color: #F8FAF9;
    background-size: cover;
    padding-left: 42px;

    &__img {
        margin-right: 40px;
        object-fit: scale-down;
    }

    &__text-block {
        padding-top: 40px;
    }

    &__title {
        font-weight: 700;
        font-size: 27px;
        margin-bottom: 14px;
    }

    &__text {
        margin-bottom: 26px;
        line-height: 21,6px;
        color: #666666;
    }

    &__username {
        font-weight: 500;
    }

}