.review {
    display: flex;
    align-items: center;
    background-color: #F8FAF9;
    background-size: cover;
    padding: rem(42px);

    @include tablets {
        flex-direction: column;
        padding: rem(58px) rem(19px) rem(40px);
        margin-bottom: rem(30px);
    }

    @include phones {
        margin-bottom: rem(15px);
    }

    &__img-wrapper {
        width: rem(253px);
        height: rem(264px);
        margin-right: rem(40px);
        flex-shrink: 0;

        @include tablets {
            margin-right: 0;
            width: rem(130px);
            height: rem(130px);
            margin-bottom: rem(40px);
        }

        @include phones {
            width: rem(144px);
            height: rem(126px);
        }
    }

    &__img {
        display: block;
        // object-fit: scale-down;
    }

    &__title {
        font-weight: 700;
        font-size: rem(27px);
        margin-bottom: rem(17px);
    }

    &__text-block {
        @include tablets {
            text-align: center;
        }
    }

    &__text {
        margin-bottom: rem(26px);
        line-height: 1.4;
        max-width: 80%;
        color: #666666;

        @include tablets {
            max-width: none;
        }

        p {
            line-height: 1.2;
        }
    }

    &__username {
        font-weight: 500;
    }

}