.site-menu {
    flex: 1;

    &__items {
        display: flex;
        justify-content: space-between;
        padding-left: 47px;
    }

    &__link {
        font-size: 18px;
        font-weight: 700;
    }
}