.site-menu {
    flex: 1;
    
    

    &__items {
        display: flex;
        justify-content: center;
        flex-wrap: wrap;
        column-gap: rem(22px);
        padding-left: rem(47px);
        padding-top: rem(8px);

        &--vertical {
            flex-direction: column;
            align-items: center;
            flex-wrap: nowrap;
            column-gap: 0;
            padding-left: 0;
            padding-top: rem(135px);
        }
    }

    &__item {
        margin-bottom: rem(10px);

        &--vertical {
            margin-bottom: rem(50px)
        }
    }

    &__link {
        font-size: rem(18px);
        font-weight: 700;
        white-space: nowrap;

        &--vertical {
            font-weight: 400;
            font-size: rem(36px);
        }
    }

    @include tablets {
        display: none;

        &--vertical {
            display: flex;
            justify-content: center;
            flex: auto;
        }
    }
}