.site-menu {
  -webkit-box-flex: 1;
      -ms-flex: 1;
          flex: 1;
}
.site-menu__items {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
}
.site-menu__link {
  font-size: 18px;
  font-weight: 700;
}